*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url(img/mystic-mountains-wallpaper.jpg);
    background-image: cover;
    background-position: center center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 16px;
    
}
a{
    text-decoration: none;
}
header{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 70px;


}


.nav-area{
    list-style: none;
}

.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-area li a{
transition: .4s;
color: black;
}
.nav-area  li a:hover{
    color: #d22938;
    
}
.btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5%;
    background-color: #d22938;
}

.M {
    text-align: center;
    font-size: 50px;
    transition: 0.5s;
    
}
